.app_dark_theme {
    --bg-color: #05053d;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0050ff;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #2d2d87;
}
