:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #05053d;
    --primary-color: #1a3fb7;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    //code
    --code-bg: #fff;

    // card
    --card-bg: #b7b7b7;

    // listbox
    --listbox-bg: #b7b7b7;
}
